*{text-align: center; }

html,body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  color: white;
}

#pleaserotate-message{ color: black; }
#pleaserotate-container { display: flex; flex-direction: column;}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background-color: #87CEFA;
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: white;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 5000px;
}

.second
{
  z-index: 500;
  width: 9000px;
}

.front
{
  z-index: 1000;
  width: 12000px;
}
.popup
{
  background-color: black;
  color: #FFF;
  padding: 2vh 2vw;
  position: absolute;
  bottom: 50vh;
  opacity: 0.8;
  text-align: center;
}

.quesAvailableDiv
{
  z-index: 1500;
}

#Available1:hover #firstQuiz
{
  display: block;
}
[class*="sim-Div"]{
  display: none;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  position: fixed;
  bottom: 10vh;
  left: 10vw;
  z-index: 4000;
  color: white;
  /* opacity: 0.8; */
}


[class*="sim-Title"]{
  width: 80vw;
  padding: 15px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  letter-spacing: 1px;
  opacity: 0.85;
  background-color: black;
  display: flex;
  justify-content: center; 
}
[class*="sim-Body"]{
  width: 100%;
  height: calc(100% - 130px);
  padding: 15px;
  border-bottom: 1px solid #000;
  opacity: 0.8;
  background-color: black;
}

[class*="sim-Footer"]{
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: black;
  width: 100%;
  height: 60px;
  padding: 15px;
  opacity: 0.85;
}
.play, .leave {
  margin-top: 10px;
}
.stad1{
  left: 2170px;
}
.stad2{
  left: 4150px;
}
.stad3{
  left: 6500px;
}
.stad4{
  left: 8800px;
}
.stad5{
  right: 800px;
}


#left-align-content {
  text-align: left;
}
#right-align-content {
  text-align: right;
}
#top-nav {
  position: fixed;
  letter-spacing: 1px;
  color: white;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: black;
  padding: 1vh;
  display: flex; 
  justify-content: space-around;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#top-nav span{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
#top-nav span,span span{
   opacity: 0.7;
   transition: all 1s;
}
#top-nav span:hover,span span:hover{
   opacity: 1;
}
#profile-icon {
  width: 30px;
  height: 30px;
}
#dropdownMenuButton {
  cursor: pointer;
}
#welcome-text {
  font-size: 18px;
}
#user-name {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
#instructionsDiv {
  position: fixed;
  display: block;
  z-index: 4000;
}

#adam {
  position: fixed;
  bottom: 8vh;
  left: 30vw;
  z-index: 3000;
  transform : scale(0.3);
  background:url("../images/spritesheet.png");
  height: 325px;
  width: 184px;
}

/*
.adam {
  position: fixed;
  bottom: 8vh;
  left: 30vw;
  z-index: 3000;
  transform : scale(0.3);
  background:url("../images/spritesheet.png");
  width: 184px;
  height: 325px;
  animation: walk-east 0.5s steps(8) 0;       
}
.adamrev{
  position: fixed;
  bottom: 8vh;
  left: 30vw;
  z-index: 3000;
  transform : scale(0.3);
  background:url("../images/image.png");
  width: 184px;
  height: 325px;
  animation: walk-east 0.5s steps(8) 0;      
}     
.adam1{
  position: fixed;
  bottom: 8vh;
  left: 30vw;
  background:url("../images/spritesheet.png");
  animation-direction: reverse;
  width: 184px;
  height: 325px;
  z-index: 3000;
  transform : scale(0.3);
  animation: walk-east 0.5s steps(8) infinite;
}
.adamrev1{
  position: fixed;
  bottom: 8vh;
  left: 30vw;
  background:url("../images/image.png");
  animation-direction: reverse;
  width: 184px;
  height: 325px;
  z-index: 3000;
  transform : scale(0.3);
  animation: walk-west 0.5s steps(8) infinite;      
} 
    
@keyframes walk-east {
  from { background-position: 0px; }
  to { background-position: -1472px; }
}
@keyframes walk-west {
  from { background-position: -1472px; }
  to { background-position: 0px; }
}

*/
#button{
 transition: all 0.7s;
 border: 0.3vh  solid white;
 padding: 1vh 1vw;
 letter-spacing: 1px;
 cursor: pointer;
}
#button:hover{
 color: black;
 background: white;
 border-color: black;
 font-weight: bolder;
}
.play {
  background-color: green;
  padding: 1vh 1vw;
  display: inline-block;
  margin-top: 2vh;
  cursor: pointer;
}
.leave {
  background-color: red;
  padding: 1vh 1vw;
  display: inline-block;
  margin-top: 2vh;
  cursor: pointer;
}
.questionAvailable {
  display: inline-block;
  margin: 1vh 1vw;
}
.questionNotAvailable {
  display: inline-block;
  margin: 1vh 1vw;
}

@media (orientation: portrait) {
  #top-nav,#adam{
    display: none;
  }
}

@media (orientation: landscape) {
  #top-nav,#adam{
    display: flex;
  }
}

.leaderboard-wrapper {
  margin-bottom: 5px;
}
#your-position {
  margin-bottom: 5px;
}
#position-text {
  display: inline-block;
  text-align: left;
  width: 11vw;
  background-color: #1D2C35;
  padding: 10px 15px 10px 15px;
}
#position {
  display: inline-block;
  text-align: right;
  width: 5vw;
  background-color: #1d2c35;
  padding: 10px 15px 10px 15px;
}
.rank {
  background-color: #6E818D;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}
.name {
  font-size: 15px;
  background-color: #1D2C35;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  min-width: 50vw;
}
.score {
  font-size: 15px;
  background-color: #1D2C35;
  padding: 5px 10px 5px 10px;
}
#leaderboard-body {
  overflow: auto;
}
