*{padding: 0px; margin: 0px; text-align: center; color: white; }

html, body { max-width: 100%;overflow-x: hidden; overflow-y: hidden;}
body{ display: flex; flex-direction: column; }
section{ width: 100vw; height: 100vh; font-family: 'Montserrat', sans-serif; display: flex; flex-direction: column; background: black; max-width:100%; max-height: 100%;  }
#one{  justify-content: flex-start ; align-items: center;  }

#up { display: flex; flex-direction: row; justify-content: center; align-items: center; }
.upper{ font-size: 15vmin; -webkit-animation-delay: 60s; -moz-animation-delay: 60s; animation-delay: 60s;}
.lower{ font-size: 10vmin; -webkit-animation-delay: 60s; -moz-animation-delay: 60s; animation-delay: 60s;  } 
.art{ color: white; height:35vh; z-index: 2;justify-content: center;  display: flex; flex-direction: column; }
.aud{ width: 100vw; height: 100vh; z-index: 1; position: absolute; top: 0px; left: 0px; -webkit-animation-delay: 60s; -moz-animation-delay: 60s; animation-delay: 60s; max-width:100%; max-height: 100%; } 
.stad{ width: 100vw; height: 100vh; z-index: 0; position: absolute; top: 0px; left: 0px; -webkit-animation-delay: 60s; -moz-animation-delay: 60s; animation-delay: 60s; max-width:100%; -webkit-animation-duration: 1s; position: fixed; max-height: 100%; }
.title{  height: 30vmin; width: 30vmin; -webkit-animation-delay: 60s; -moz-animation-delay: 60s; animation-delay: 60s; } 


#text{ width: 100vw; height: 100vh; z-index: 1; position: absolute; top: 100vh; max-width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; max-height:100%; }
#text h1{font-size: 10vmin; -webkit-animation-duration: 2s; margin-bottom: 10vmin; animation-duration: 2s;}
#text a{font-size: 5vmin; border: 0.3vh solid white; padding: 2vmin; -webkit-animation-duration: 2s; animation-duration: 2s; }
a{text-decoration: none; z-index: 100; }


#loader{ height: 100vh; width: 100vw; position: absolute; font-size: 15vmin; z-index: 4; color: white; background: black ; max-width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: space-around ; max-height: 100%; }
.load{    border: 1vmin solid white; 
    border-top: 1vmin solid #3498db; /* Blue */
    border-radius: 100%;
    width: 8vmin;
    height: 8vmin;
    animation: spin 2s linear infinite;}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}
.arrow-down {
  width: 0; height: 0; border-left: 4vh solid transparent; border-right: 4vh solid transparent;border-top:4vh solid white; z-index: 4; transition: display 1s; display: none; 
}
.arrow-up {
  margin: 10vh auto;
  width: 0; 
  height: 0; 
  border-left: 4vh solid transparent;
  border-right: 4vh solid transparent;
  z-index: 100;
  border-bottom: 4vh solid white;
  transition: display 2s;
  display: none; 
}


.imgin,.imgout{height: 98vh; width: 100vw; max-width: 100%; max-height: 100%;  -webkit-animation-delay: 2s; -moz-animation-delay: 2s; animation-delay: 2s; data-wow-delay: 2s; -webkit-animation-duration: 2s; animation-duration: 2s; -moz-animation-duration: 2s; position: absolute; top: 101vh; data-wow-duration: 2s; right: 0; }
.imgin{z-index: 4;} 
.imgout{z-index: 5; }

